Broker<{{broker_type}}> {{broker_name}}
    host: "{{broker_host}}"
    port: {{broker_port}}
    auth:
        username: "{{broker_username}}"
        password: "{{broker_password}}"
    {%- if broker_vhost is defined and broker_vhost %}
    vhost: "{{ broker_vhost }}"
    {%- endif %}
    {%- if broker_topicExchange is defined and broker_topicExchange %}
    topicExchange: "{{ broker_topicExchange }}"
    {%- endif %}
    {%-  if broker_db is defined and broker_db %}
    db: {{ broker_db }}
    {%- endif %}
end

{% for peripheral in peripherals %}
Entity {{peripheral["per_name"]}}
    type: {{peripheral["per_type"].lower()}}
    topic: "{{peripheral["per_topic"]}}"
    broker: {{peripheral["per_broker"]}}
    attributes:
    {%- if peripheral["per_msg_type"] == "Distance" %}
        - distance: float
        - unit: str 
        - max_distance : float
        - min_distance : float
    {%- elif peripheral["per_msg_type"] == "Tracker" %}
        - object_detection : bool
        - color : str
    {%- elif peripheral["per_msg_type"] == "Env" %}
        - temperature : float
        - pressure : float 
        - humidity : float
        - gas_resistance : float  
    {%- elif peripheral["per_msg_type"] == "ADC" %}
        - voltage : float
    {%- elif peripheral["per_msg_type"] == "LedArray" %}
        - colors : list 
        - delay: float = 0.1 
        - brightness: float = 0.5 
    {%- elif peripheral["per_msg_type"] == "ServoController" %} 
        - initial_angle: float = 0.0
        - final_angle: float = 0.0
        - angular_speed: float = 0.0
        - angular_step: float = 0.0   
    {%- endif %}
    {%- if peripheral["per_type"] == "Sensor" and peripheral["per_frequency"] is defined and peripheral["per_frequency"] %}
    freq: {{ peripheral["per_frequency"] }}
    {%- elif peripheral["per_type"] == "Sensor"%}
    freq: 1
    {%- endif %}
end    
{% endfor %}