#ifndef JSON_HANDLER_H
#define JSON_HANDLER_H

#define JSMN_STATIC

#include "jsmn.h"

#define MAX_TOKEN_NUM       (30)

typedef enum {
    JSON_START,
    JSON_STOP,
    JSON_KEY,
    JSON_INT,
    JSON_STR,
    JSON_OBJECT,
} json_type_t;

typedef struct {
    jsmn_parser parser;
    jsmntok_t token[MAX_TOKEN_NUM];
    char *json_string;
    int num_of_tokens;
    int search_index;
} json_loader_t;


int json_init(json_loader_t *loader, char *json_string, int json_length);

int json_load(json_loader_t *loader, ...);

int json_dumps(char *json_str, ...);

#endif // JSON_HANDLER_H