#include "sensor_{{ name }}_{{ index }}.h"
#include "thread.h"
#include "xtimer.h"
#include "json_handler.h"
#include "srf04.h"
#include "srf04_params.h"

static srf04_t {{ name }}_{{ index }}_dev;
static {{ name }}_{{ index }}_callback {{ name }}_{{ index }}_cb;

char {{ name }}_{{ index }}_json_payload[165] = "";
char {{ name }}_{{ index }}_stack[THREAD_STACKSIZE_MAIN];

void *{{ name }}_{{ index }}_thread(void *args);

int init_sensor_{{ name }}_{{ index }}(void)
{
    srf04_params_t params;
    params.trigger = GPIO_PIN(0, {{ args_p.trigger }});
    params.echo = GPIO_PIN(0, {{ args_p.echo }});

    printf("Initialize {{ name|upper }} sensor ... ");
    if (srf04_init(&{{ name }}_{{ index }}_dev, &params) != SRF04_OK)
    {
        puts("failed");
        return -1;
    }
    else
    {
        puts("OK");
        return 0;
    }
}

void start_sensor_{{ name }}_{{ index }}({{ name }}_{{ index }}_callback callback)
{
    {{ name }}_{{ index }}_cb = callback;
    thread_create({{ name }}_{{ index }}_stack, sizeof({{ name }}_{{ index }}_stack),
                  (THREAD_PRIORITY_MAIN + 1),
                  THREAD_CREATE_STACKTEST,
                  {{ name }}_{{ index }}_thread,
                  NULL, "{{ name }}_{{ index }}_sensor");
};

void *{{ name }}_{{ index }}_thread(void *args)
{
    (void)args;

    while (1)
    {
        int dist = srf04_get_distance(&{{ name }}_{{ index }}_dev);

        if (dist >= 0)
        {
            printf("[{{ name|upper }}]: Distance = %d mm\n", dist);

            json_dumps({{ name }}_{{ index }}_json_payload,
                       JSON_START,
                       JSON_KEY, "Distance", JSON_INT, dist,
                       JSON_STOP);

            {{ name }}_{{ index }}_cb({{ name }}_{{ index }}_json_payload);
        }
        else
        {
            printf("[{{ name }}]: read data failed\n");
        }

        xtimer_msleep(({{ name|upper }}_{{ index }}_FREQ));
    }
};
