from commlib.node import Node
from commlib.transports.mqtt import ConnectionParameters
from commlib.utils import Rate
from .msg import {{class}}Message
from .{{ peripheral.name.lower() }} import {{ peripheral.name }}


if __name__ == "__main__":
    rate = {{ attributes.get("frequency", 30.0) }}
    actuator = {{ peripheral.name }}(attributes={{ attributes }}, conn={{ conn }})
    actuator.initialize()
    conn_params = ConnectionParameters(host="{{ broker.host }}", port={{ broker.port }}{% if broker.ssl is defined %}, ssl={{ broker.ssl }}{% endif %}{% if broker.username is defined and broker.username %}, username="{{ broker.username }}"{% endif %}{% if broker.password is defined and broker.password %}, password="{{ broker.password}}"{% endif %})
    node = Node(
        node_name='actuators.{{ class }}',
        connection_params=conn_params,
        heartbeats=False)
    sub = node.subscriber(
        msg_type={{ class }}Message,
        topic="{{ topic }}",
        on_message=actuator.write)
    node.run_forever(sleep_rate=rate)