import adafruit_dht
import board as adafruit_board
from .peripheral import Sensor
from .msg import EnvMessage


class {{ driver_class_name }}(Sensor):
    _PIN = "{{ conn.gpio.pins.get('data', {}).get('name', 'GPIO4') }}"
    _FREQUENCY = {{ attributes.get('frequency', 0.5) }}

    def __init__(self):
        super().__init__(
            name="{{ instance }}",
            connections={{ conn }},
            attributes={{ attributes }}
        )
        self.sensor = None

    def initialize(self):
        pin = getattr(adafruit_board, self._PIN, adafruit_board.D4)
        self.sensor = adafruit_dht.DHT22(pin)

    def read(self):
        try:
            temperature = self.sensor.temperature
            humidity = self.sensor.humidity
            if temperature is not None and humidity is not None:
                self.update_state_data({
                    "temperature": temperature + {{ attributes.get('temperature_offset', 0.0) }},
                    "humidity": humidity + {{ attributes.get('humidity_offset', 0.0) }}
                })
        except RuntimeError:
            pass

    def disconnect(self):
        if self.sensor:
            self.sensor.exit()
