from gpiozero import DistanceSensor as DS
from time import sleep

{% if sensor_type == "SRF05" %}
MAX_FREQUENCY = {{max_frequency | default(20)}}  #(Hz) recommended 
MAX_DISTANCE = {{max_distance | default(200.0)}}
MIN_DISTANCE = {{min_distance | default(4.0)}}
{% elif sensor_type == "HC_SR04" %}
MAX_FREQUENCY = {{max_frequency | default(16)}}
MAX_DISTANCE = {{max_distance | default(200.0)}}
MIN_DISTANCE = {{min_distance | default(0.0)}}
{% endif -%}


TRIGGER_PIN = "{{trigger}}"
ECHO_PIN = "{{echo}}"


class HCSR04(Sensor):
    #The class that sums up all distance sensors

    def __init__(self):
        self.max_distance = MAX_DISTANCE
        self.min_distance = MIN_DISTANCE
        self.max_frequency = MAX_FREQUENCY
        self.sensor = DS(
            trigger=TRIGGER_PIN,
            echo=ECHO_PIN,
            max_distance=self.max_distance,
            threshold_distance=0.3
        )
        self.msg = DistanceMessage()
    
    def read(self):
        data = {
            "distance": self.sensor.distance * 100,
            "max_distance": self.max_distance,
            "min_distance": self.min_distance
        }
        self.msg = DistanceMessage(**data)
        return msg
    
    def get_max_frequency(self):
        return self.max_frequency

    def disconnect(self):
        self.sensor.close()


if __name__ == "__main__":
    sensor = HCSR04Sensor()
    sensor.run()