from gpiozero import DigitalInputDevice as DInD
from .peripheral import Sensor


class HW006(Sensor):
    """
    IR reflective sensor - detects black vs white/reflective surfaces
    """
    _PIN = "{{ conn.gpio.pins.D0.name }}"
    _PIN_NUMBER = {{ conn.gpio.pins.D0.id }}
    _MAX_FREQUENCY = {{ op.get('freq_max', 100) }}
    _FREQUENCY = {{ attributes.get('frequency', 10.0) }}
    
    def __init__(self):
        super().__init__(
            name="{{ instance }}", 
            connections={{ conn }}, 
            attributes={{ attributes }}
        )
        self.sensor = None
    
    def initialize(self):
        """Initialize the sensor hardware"""
        self.sensor = DInD(self._PIN)
        
    def read(self):
        """Read sensor data
        
        Returns:
            ProximityMessage: Proximity message
        """
        self.update_state_data({"value": self.sensor.value})
    
    def disconnect(self):
        """Release hardware resources"""
        if self.sensor:
            self.sensor.close()


if __name__ == "__main__":
    sensor = HW006()
    sensor.initialize()
    sensor.read()
    print("HW006: ", sensor.current_state['data'])
    sensor.disconnect()
