from gpiozero import DigitalInputDevice as DInD
import time

GPIO_PIN = "{{echo}}"
MAX_FREQUENCY = {{max_frequency | default(1000.0)}}

class IRSensor:
    #The sensor recognizes whether it "sees" black or a white/reflective area
    def __init__(self):
        self.sensor = DInD(GPIO_PIN)
        self.max_frequency = MAX_FREQUENCY
 
    def read_data(self):
        value = self.sensor.value
        data = {
            "object_detection": value,
            "color": "White" if value == 1 else "Black"
        }
        return data

    def get_max_frequency(self):
        return self.max_frequency

    def disconnect(self):
        #Release used resources
        self.sensor.close()

class TCRT5000(IRSensor):
    pass

class HW006(IRSensor):
    pass