import board
import busio
import adafruit_mlx90614
from .peripheral import Sensor


class {{ driver_class_name }}(Sensor):
    """
    MLX90614 Infrared Non-Contact Thermometer (I2C, SMBus)
    Measures ambient and object temperature without contact.
    """
    _PRIMARY_ADDRESS = {{ conn.i2c.slave_address if conn.i2c is defined else 0x5A }}
    _FREQUENCY = {{ attributes.get('poll_period', 1) }}

    def __init__(self):
        super().__init__(
            name="{{ instance }}",
            connections={{ conn }},
            attributes={{ attributes }}
        )
        self.sensor = None

    def initialize(self):
        """Initialize the MLX90614 IR thermometer"""
        i2c = busio.I2C(board.SCL, board.SDA, frequency=100000)
        self.sensor = adafruit_mlx90614.MLX90614(i2c, address=self._PRIMARY_ADDRESS)

    def read(self):
        """Read ambient and object temperatures"""
        self.update_state_data({
            "ambient_temperature": self.sensor.ambient_temperature,
            "object_temperature": self.sensor.object_temperature
        })

    def disconnect(self):
        """Release hardware resources"""
        pass
