import time
from commlib.node import Node
from commlib.transports.mqtt import ConnectionParameters
from MQTTMessages import {{actuatorMsg}}Message
from {{actuator_name}} import {{actuator_type}}

def on_message(msg):
    try:
        # Create parameters dictionary from the message
        attr_names = list({{actuatorMsg}}Message.__annotations__.keys())
        attr_names = [name for name in attr_names if name != "header"]

        params = {}
        for name in attr_names:
            params[name] = getattr(msg, name)

        # Control the LED array using **params unpacking
        actuator.set_action(**params)

    except Exception as e:
        print(f"Error controlling actuator: {e}")

if __name__ == '__main__':
    actuator = {{actuator_type}}()
    try:
        conn_params = ConnectionParameters(host="{{host}}", port={{port}}{% if ssl is defined %}, ssl={{ssl}}{% endif %}{% if username is defined and username %}, username="{{username}}"{% endif %}{% if password is defined and password %}, password="{{password}}"{% endif %})

        node = Node(node_name='actuators.{{actuator_type}}', connection_params=conn_params, heartbeats=False)

        node.create_subscriber(msg_type={{actuatorMsg}}Message,
                               topic="{{topic}}",
                               on_message=on_message)  # Define a callback function
  
        node.run_forever(sleep_rate=1)  # Define a process-level sleep rate in hz    
    except KeyboardInterrupt:
        print("\nReceived interrupt signal. Shutting down...")
        actuator.disconnect()