from commlib.node import Node
from commlib.transports.mqtt import ConnectionParameters
from .msg import {{class}}Message
from .{{ peripheral.name.lower() }} import {{ peripheral.name }}


if __name__ == "__main__":
    sensor = {{ peripheral.name }}(attributes={{ attributes }}, conn={{ conn }})
    sensor.initialize()
    conn_params = ConnectionParameters(host="{{ broker.host }}", port={{ broker.port }}{% if broker.ssl is defined %}, ssl={{ broker.ssl }}{% endif %}{% if broker.username is defined and broker.username %}, username="{{ broker.username }}"{% endif %}{% if broker.password is defined and broker.password %}, password="{{ broker.password}}"{% endif %})
    node = Node(node_name='sensors.{{ class }}', connection_params=conn_params, heartbeats=False)
    pub = node.create_publisher(msg_type={{ class }}Message, topic="{{ topic }}")
    try:
        node.run()
        while True:
            sensor.read()
            pub.send(self.msg)
            self._rate.sleep()
    except KeyboardInterrupt:
        sensor.disconnect()
    except Exception as e:
        print(e)