import board
import busio
import adafruit_shtc3
from .peripheral import Sensor


class {{ driver_class_name }}(Sensor):
    """
    SHTC3 High-Precision Temperature and Humidity Sensor (I2C)
    """
    _PRIMARY_ADDRESS = {{ conn.i2c.slave_address if conn.i2c is defined else 0x70 }}
    _FREQUENCY = {{ attributes.get('poll_period', 10) }}

    def __init__(self):
        super().__init__(
            name="{{ instance }}",
            connections={{ conn }},
            attributes={{ attributes }}
        )
        self.sensor = None

    def initialize(self):
        """Initialize the sensor hardware"""
        i2c = busio.I2C(board.SCL, board.SDA)
        self.sensor = adafruit_shtc3.SHTC3(i2c)

    def read(self):
        """Read temperature and relative humidity"""
        temperature, relative_humidity = self.sensor.measurements
        self.update_state_data({
            "temperature": temperature,
            "humidity": relative_humidity
        })

    def disconnect(self):
        """Release hardware resources"""
        pass
