from gpiozero import DistanceSensor as DS
from gpiozero.pins.pigpio import PiGPIOFactory
from .peripheral import Sensor
from .msg import DistanceMessage

class {{ driver_class_name }}(Sensor):
    """
    Ultrasonic distance sensor (SRF04)
    """
    _TRIGGER_PIN = "{{ conn.gpio.pins.get('trigger', {}).get('name') }}"
    _TRIGGER_PIN_NUMBER = {{ conn.gpio.pins.get('trigger', {}).get('id') }}
    _ECHO_PIN = "{{ conn.gpio.pins.get('echo', {}).get('name') }}"
    _ECHO_PIN_NUMBER = {{ conn.gpio.pins.get('echo', {}).get('id') }}
    _MAX_DISTANCE = {{ attributes.get('max_distance', 300.0) }} # SRF04 range is up to 3m
    _MIN_DISTANCE = {{ attributes.get('min_distance', 0.0) }}
    _MAX_FREQUENCY = {{ op.get('freq_max', 16) }}
    _FREQUENCY = {{ attributes.get('frequency', 10.0) }}
    _THRESHOLD_DISTANCE = {{ attributes.get('threshold_distance', 0.3) }}

    def __init__(self):
        super().__init__(
            name="{{ instance }}", 
            connections={{ conn }}, 
            attributes={{ attributes }}
        )
        self.sensor = None

    def initialize(self):
        """Initialize the sensor hardware"""
        self.sensor = DS(
            trigger=self._TRIGGER_PIN,
            echo=self._ECHO_PIN,
            max_distance=self._MAX_DISTANCE / 100.0,
            threshold_distance=self._THRESHOLD_DISTANCE,
            pin_factory=PiGPIOFactory()
        )

    def read(self):
        """Read sensor data"""
        self.update_state_data({
            "distance": self.sensor.distance * 100.0,
            "max_distance": self._MAX_DISTANCE,
            "min_distance": self._MIN_DISTANCE
        })

    def disconnect(self):
        """Release hardware resources"""
        if self.sensor:
            self.sensor.close()


if __name__ == "__main__":
    sensor = {{ driver_class_name }}()
    sensor.initialize()
    sensor.read()
    print("SRF04: ", sensor.current_state['data'])
    sensor.disconnect()
