import time
import board
import neopixel_spi as neopixel
from .peripheral import Actuator


class WS2812(Actuator):
    """
    WS2812 NeoPixel LED Array (SPI-based)
    """
    _NUM_PIXELS = {{ attributes.get('num_leds', 12) }}
    _PIXEL_ORDER = "{{ attributes.get('color_format', 'GRB') }}"
    _BRIGHTNESS = {{ attributes.get('brightness', 0.5) }}
    _DELAY = {{ attributes.get('delay', 0.1) }}

    def __init__(self):
        super().__init__(attributes={{ attributes }}, conn={{ conn }})
        self.spi = None
        self.pixels = None

    def initialize(self):
        """Initialize the actuator hardware"""
        self.spi = board.SPI()
        pixel_order = getattr(neopixel, self._PIXEL_ORDER, neopixel.GRB)
        self.pixels = neopixel.NeoPixel_SPI(
            self.spi,
            self._NUM_PIXELS,
            brightness=self._BRIGHTNESS,
            pixel_order=pixel_order,
            auto_write=True
        )

    def write(self, msg):
        """Write command to the actuator"""
        # msg is expected to have 'colors' (list of hex strings)
        colors = []
        if hasattr(msg, 'colors'):
            colors = msg.colors
        elif isinstance(msg, dict) and 'colors' in msg:
            colors = msg['colors']
        
        if not colors:
            return

        # Turn the colors into integers
        int_colors = []
        for x in colors:
            try:
                if isinstance(x, str) and x.startswith('0x'):
                    int_colors.append(int(x, 16))
                else:
                    int_colors.append(int(x))
            except (ValueError, TypeError):
                continue
        
        for i, color in enumerate(int_colors):
            if i >= self._NUM_PIXELS:
                break
            self.pixels[i] = color
            time.sleep(self._DELAY)

    def disconnect(self):
        """Release hardware resources"""
        if self.pixels:
            self.pixels.fill(0)